<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <appSettings>
    <add key="logSuccessRequestAndResponse" value="false" />
    <add key="logFailRequestAndResponse" value="false" />
  </appSettings>

  
  <system.serviceModel>
    <services>
      <service name="WCFwithSingleton.WS.WCFwithSingletonWS" behaviorConfiguration="WCFwithSingletonServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/WCFwithSingletonWS"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WCFwithSingletonWS" contract="WCFwithSingleton.WS.IWCFwithSingletonWS">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_WCFwithSingletonWS" closeTimeout="00:00:30" openTimeout="00:20:00" receiveTimeout="00:00:30" sendTimeout="00:20:00" maxBufferPoolSize="524288" maxReceivedMessageSize="2000000000" messageEncoding="Mtom" transferMode="Buffered" textEncoding="utf-8">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1638400000" maxBytesPerRead="655360" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFwithSingletonServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="Logs\" />
      <datePattern value="yyyyMMdd'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="90" />
      <maximumFileSize value="20MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d  %-5p %m%n" />
      </layout>
    </appender>
    <logger name="LOGGER">
      <appender-ref ref="LogFileAppender"/>
    </logger>
  </log4net>

</configuration>