<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFwithSingletonWS" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WCFwithSingletonWS" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCFwithSingletonWS"
                contract="WCFwithSingletonWS.IWCFwithSingletonWS" name="BasicHttpBinding_IWCFwithSingletonWS" />
        </client>
    </system.serviceModel>
</configuration>